

body {
    margin: 20px;
    padding: 0px;

    font-family: 'Raleway', sans-serif;
   
}


.main-container {
    width: 80%;
    margin: auto;
    margin-top: 80px;
   
}

h1 {
    margin-top: 80px;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5rem;

    background-image: linear-gradient(rgba(62, 106, 194, 1), rgb(27, 36, 30));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: right-left 5s infinite ease-in-out;

}

@keyframes right-left {
    0% {
        transform: translateX(3px);
        opacity: 0.3;
    }
    35% {
        transform: translateX(6px);
        opacity: 0.5;
    }
    50% {
        transform: translateX(9px);
        opacity: 0.7;
    }
    70% {
        transform: translate(6px);
        opacity: 1;
    }
    85% {
        transform: translateX(3px);
        opacity: 0.5;
    }
    100% {
        transform: translateX(0px);
        opacity: 0;
    }
}

.gallery-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 200px 200px 200px 200px;
    grid-gap: 5px;   

}

.gallery-item {
    widht: 100%;
    height: 100%;

    position: relative;
    cursor: pointer;
    overflow: hidden;
    
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    transition: transform 0.5s ease-in-out;

}
.gallery-item:hover img {
    transform: scale(1.3);
}
.gallery-item .text{
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    font-weight: bold;
    font-size: 20px;

    transform: translate(-50%, -50%);
    z-index: 10;

    -webkit-backdrop-filter: blur(3.5px) saturate(3);
    backdrop-filter: blur(5.5px) saturate(2);

    pointer-events: none;

    transition: .3s ease-in-out;
}

.gallery-item:hover .text {
    opacity: 1;
    padding: 1rem;
    outline: 2px solid red;
    animation: move-down .3s linear;
}

@keyframes move-down {
    0% {
        top: 10%;
    }
    50% {
        top: 35%;
    }
    100% {
        top: 50;
    }
}




.width-business {
    grid-column: span 3;
}

.width-market {
    grid-column: span 2;
}

.width-army {
    grid-column: span 1;
}

.width-beaches {
    grid-column: 2;
}


.height-cars {
    grid-row: span 2;
  }

.height-business {
    grid-row: span 2;
}


.height-music {
    grid-row: span 4;
}

.height-army {
    grid-row: span 2;
}


.height-art {
    grid-row: span 2;
}



@media screen and (max-width: 930px) {
    h1 {
        font-size: 2rem;
    }
    
    .gallery-container {
        
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 200px 200px 200px 200px;
        grid-gap: 4px;   
    
    }
}
